<div class="container">
    <div class="topbar">
        <fa-icon [icon]="faStar" class="icon icon-clickable opacity-70"></fa-icon>
        <fa-icon [icon]="faWarning" class="icon icon-clickable opacity-70"></fa-icon>
        <fa-icon [icon]="faCalendar" class="icon icon-clickable opacity-70 mr-auto"></fa-icon>
        <fa-icon [icon]="faKeyboard" class="icon icon-clickable opacity-70"></fa-icon>
        <fa-icon [icon]="faLocationPin" class="icon icon-clickable opacity-70"></fa-icon>
    </div>
    <div class="list-container">
        <app-accordion-list [siteList]="siteList"></app-accordion-list>
    </div>
</div>
